<%  provide(:title, "About") %>

<h1>About</h1>
<p>
      本アプリケーションは<a href="http://railstutorial.jp/">Ruby on Rails Tutorial</a>を元に作成された投稿型SNSアプリケーションです。
 <br>
      以下の機能を拡張しております。<br><br>
      [検索機能]<br>
      ・ユーザー検索機能<br>
      ・マイクロポスト（投稿）検索機能<br>
      [いいね機能]<br>
      ・マイクロポストに対するgood の登録・解除<br>
      ・マイクロポスト毎のgoodのカウント<br>
      ・ユーザが登録したgoodの一覧・カウント<br>
<br>
[開発期間]<br>
・Ruby on Rails チュートリアル : 6日 (40h)<br>
・検索機能   : 1日 (3h)<br>
・いいね機能 ：1日 (8h)<br>
<br>
[その他]<br>
・画像のアップロードはS3を使用<br>


</p>
