<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <%= render 'static_pages/micropost_area' %>
    </aside>
    <div class="col-md-8">
      <%= render 'shared/feed' %>
    </div>
  </div>
  
<% else %>
  <%= render 'before_login_home' %>
<% end %>